div{
	color:#99999;
}
pre{
	height:200px;
	overflow-y:scroll;
	background:#f7f7f7;
}
.t-btn{
	clear:both;
	padding:0px;
	margin:0px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.t-btn ,.t-btn a,.t-btn a:hover{
	text-decoration:none;
}
/*pc首页按钮样式*/
.t-btn-index-4acfbe{
	background:url('images/index-4acfbe/left.png') top left no-repeat,
							url('images/index-4acfbe/right.png') top right  no-repeat,
							url('images/index-4acfbe/line.png')  top left 20px no-repeat;
	display:block;
	height:82px;
	width:260px;
	font-size:24px;
	color:#4acfbe;
	font-weight:2px;
	padding-left:20px;
	margin-left:-20px;
	line-height:70px;
	text-align:center;
}
.t-btn-index-4acfbe:hover{
	color:#4acfbe;
	background:url('images/index-4acfbe/left.png') top left no-repeat,
							url('images/index-4acfbe/right.png') top right  no-repeat,
							url('images/index-4acfbe/line.png')  top left 20px no-repeat,
							url('images/index-4acfbe/shadow.png')  bottom  left 25px no-repeat;
}
/*----分割-----*/
.t-btn-index-1e99f7{
	background:url('images/index-1e99f7/left.png') top left no-repeat,
							url('images/index-1e99f7/right.png') top right  no-repeat,
							url('images/index-1e99f7/line.png')  top left 20px no-repeat;
	display:block;
	height:82px;
	width:260px;
	font-size:24px;
	color:#1e99f7;
	font-weight:2px;
	padding-left:20px;
	margin-left:-20px;
	line-height:70px;
	text-align:center;
}
.t-btn-index-1e99f7:hover{
	color:#1e99f7;
	background:url('images/index-1e99f7/left.png') top left no-repeat,
							url('images/index-1e99f7/right.png') top right  no-repeat,
							url('images/index-1e99f7/line.png')  top left 20px no-repeat,
							url('images/index-1e99f7/shadow.png')  bottom  left 25px no-repeat;
}
/*----分割-----*/
.t-btn-index-fa536f{
	color:#fa536f;
	background:url('images/index-fa536f/left.png') top left no-repeat,
							url('images/index-fa536f/right.png') top right  no-repeat,
							url('images/index-fa536f/line.png')  top left 20px no-repeat;
	display:block;
	height:82px;
	width:260px;
	font-size:24px;
	color:#fa536f;
	font-weight:2px;
	padding-left:20px;
	margin-left:-20px;
	line-height:70px;
	text-align:center;
}
.t-btn-index-fa536f:hover{
	color:#fa536f;
	background:url('images/index-fa536f/left.png') top left no-repeat,
							url('images/index-fa536f/right.png') top right  no-repeat,
							url('images/index-fa536f/line.png')  top left 20px no-repeat,
							url('images/index-fa536f/shadow.png')  bottom  left 25px no-repeat;
}
/*----分割-----*/
.t-btn-index-4cbeff{
	color:#4cbeff;
	background:url('images/index-4cbeff/left.png') top left no-repeat,
							url('images/index-4cbeff/right.png') top right  no-repeat,
							url('images/index-4cbeff/line.png')  top left 20px no-repeat;
	display:block;
	height:82px;
	width:260px;
	font-size:24px;
	color:#4cbeff;
	font-weight:2px;
	padding-left:20px;
	margin-left:-20px;
	line-height:70px;
	text-align:center;
}
.t-btn-index-4cbeff:hover{
	color:#4cbeff;
	background:url('images/index-4cbeff/left.png') top left no-repeat,
							url('images/index-4cbeff/right.png') top right  no-repeat,
							url('images/index-4cbeff/line.png')  top left 20px no-repeat,
							url('images/index-4cbeff/shadow.png')  bottom  left 25px no-repeat;
}
/*----分割-----*/
.t-btn-index-7f8ada{
	color:#7f8ada;
	background:url('images/index-7f8ada/left.png') top left no-repeat,
							url('images/index-7f8ada/right.png') top right  no-repeat,
							url('images/index-7f8ada/line.png')  top left 20px no-repeat;
	display:block;
	height:82px;
	width:260px;
	font-size:24px;
	color:#7f8ada;
	font-weight:2px;
	padding-left:20px;
	margin-left:-20px;
	line-height:70px;
	text-align:center;
}
.t-btn-index-7f8ada:hover{
	color:#7f8ada;
	background:url('images/index-7f8ada/left.png') top left no-repeat,
							url('images/index-7f8ada/right.png') top right  no-repeat,
							url('images/index-7f8ada/line.png')  top left 20px no-repeat,
							url('images/index-7f8ada/shadow.png')  bottom  left 25px no-repeat;
}
/*----分割-----*/
.t-btn-index-88d070{
	color:#88d070;
	background:url('images/index-88d070/left.png') top left no-repeat,
							url('images/index-88d070/right.png') top right  no-repeat,
							url('images/index-88d070/line.png')  top left 20px no-repeat;
	display:block;
	height:82px;
	width:260px;
	font-size:24px;
	color:#88d070;
	font-weight:2px;
	padding-left:20px;
	margin-left:-20px;
	line-height:70px;
	text-align:center;
}
.t-btn-index-88d070:hover{
	color:#88d070;
	background:url('images/index-88d070/left.png') top left no-repeat,
							url('images/index-88d070/right.png') top right  no-repeat,
							url('images/index-88d070/line.png')  top left 20px no-repeat,
							url('images/index-88d070/shadow.png')  bottom  left 25px no-repeat;
}
/*----分割-----*/
.t-btn-index-598249{
	color:#598249;
	background:url('images/index-598249/left.png') top left no-repeat,
							url('images/index-598249/right.png') top right  no-repeat,
							url('images/index-598249/line.png')  top left 20px no-repeat;
	display:block;
	height:82px;
	width:260px;
	font-size:24px;
	color:#598249;
	font-weight:2px;
	padding-left:20px;
	margin-left:-20px;
	line-height:70px;
	text-align:center;
}
.t-btn-index-598249:hover{
	color:#598249;
	background:url('images/index-598249/left.png') top left no-repeat,
							url('images/index-598249/right.png') top right  no-repeat,
							url('images/index-598249/line.png')  top left 20px no-repeat,
							url('images/index-598249/shadow.png')  bottom  left 25px no-repeat;
}
/*----分割-----*/
.t-btn-index-a3d0ff{
	color:#a3d0ff;
	background:url('images/index-a3d0ff/left.png') top left no-repeat,
							url('images/index-a3d0ff/right.png') top right  no-repeat,
							url('images/index-a3d0ff/line.png')  top left 20px no-repeat;
	display:block;
	height:82px;
	width:260px;
	font-size:24px;
	color:#a3d0ff;
	font-weight:2px;
	padding-left:20px;
	margin-left:-20px;
	line-height:70px;
	text-align:center;
}
.t-btn-index-a3d0ff:hover{
	color:#a3d0ff;
	background:url('images/index-a3d0ff/left.png') top left no-repeat,
							url('images/index-a3d0ff/right.png') top right  no-repeat,
							url('images/index-a3d0ff/line.png')  top left 20px no-repeat,
							url('images/index-a3d0ff/shadow.png')  bottom  left 25px no-repeat;
}
/*----分割-----*/
.t-btn-index-b8e8b4{
	color:#b8e8b4;
	background:url('images/index-b8e8b4/left.png') top left no-repeat,
							url('images/index-b8e8b4/right.png') top right  no-repeat,
							url('images/index-b8e8b4/line.png')  top left 20px no-repeat;
	display:block;
	height:82px;
	width:260px;
	font-size:24px;
	color:#b8e8b4;
	font-weight:2px;
	padding-left:20px;
	margin-left:-20px;
	line-height:70px;
	text-align:center;
}
.t-btn-index-b8e8b4:hover{
	color:#b8e8b4;
	background:url('images/index-b8e8b4/left.png') top left no-repeat,
							url('images/index-b8e8b4/right.png') top right  no-repeat,
							url('images/index-b8e8b4/line.png')  top left 20px no-repeat,
							url('images/index-b8e8b4/shadow.png')  bottom  left 25px no-repeat;
}
/*----分割-----*/
.t-btn-index-f8b551{
	color:#f8b551;
	background:url('images/index-f8b551/left.png') top left no-repeat,
							url('images/index-f8b551/right.png') top right  no-repeat,
							url('images/index-f8b551/line.png')  top left 20px no-repeat;
	display:block;
	height:82px;
	width:260px;
	font-size:24px;
	color:#f8b551;
	font-weight:2px;
	padding-left:20px;
	margin-left:-20px;
	line-height:70px;
	text-align:center;
}
.t-btn-index-f8b551:hover{
	color:#f8b551;
	background:url('images/index-f8b551/left.png') top left no-repeat,
							url('images/index-f8b551/right.png') top right  no-repeat,
							url('images/index-f8b551/line.png')  top left 20px no-repeat,
							url('images/index-f8b551/shadow.png')  bottom  left 25px no-repeat;
}
/*----分割-----*/
.t-btn-index-f59fc7{
	color:#f59fc7;
	background:url('images/index-f59fc7/left.png') top left no-repeat,
							url('images/index-f59fc7/right.png') top right  no-repeat,
							url('images/index-f59fc7/line.png')  top left 20px no-repeat;
	display:block;
	height:82px;
	width:260px;
	font-size:24px;
	color:#f59fc7;
	font-weight:2px;
	padding-left:20px;
	margin-left:-20px;
	line-height:70px;
	text-align:center;
}
.t-btn-index-f59fc7:hover{
	color:#f59fc7;
	background:url('images/index-f59fc7/left.png') top left no-repeat,
							url('images/index-f59fc7/right.png') top right  no-repeat,
							url('images/index-f59fc7/line.png')  top left 20px no-repeat,
							url('images/index-f59fc7/shadow.png')  bottom  left 25px no-repeat;
}
/*----分割-----*/
.t-btn-index-f16571{
	color:#f16571;
	background:url('images/index-f16571/left.png') top left no-repeat,
							url('images/index-f16571/right.png') top right  no-repeat,
							url('images/index-f16571/line.png')  top left 20px no-repeat;
	display:block;
	height:82px;
	width:260px;
	font-size:24px;
	color:#f16571;
	font-weight:2px;
	padding-left:20px;
	margin-left:-20px;
	line-height:70px;
	text-align:center;
}
.t-btn-index-f16571:hover{
	color:#f16571;
	background:url('images/index-f16571/left.png') top left no-repeat,
							url('images/index-f16571/right.png') top right  no-repeat,
							url('images/index-f16571/line.png')  top left 20px no-repeat,
							url('images/index-f16571/shadow.png')  bottom  left 25px no-repeat;
}
/*----分割-----*/
.t-btn-index-f19149{
	color:#f19149;
	background:url('images/index-f19149/left.png') top left no-repeat,
							url('images/index-f19149/right.png') top right  no-repeat,
							url('images/index-f19149/line.png')  top left 20px no-repeat;
	display:block;
	height:82px;
	width:260px;
	font-size:24px;
	color:#f19149;
	font-weight:2px;
	padding-left:20px;
	margin-left:-20px;
	line-height:70px;
	text-align:center;
}
.t-btn-index-f19149:hover{
	color:#f19149;
	background:url('images/index-f19149/left.png') top left no-repeat,
							url('images/index-f19149/right.png') top right  no-repeat,
							url('images/index-f19149/line.png')  top left 20px no-repeat,
							url('images/index-f19149/shadow.png')  bottom  left 25px no-repeat;
}
/*----分割-----*/
.t-btn-index-fdd95f{
	color:#fdd95f;
	background:url('images/index-fdd95f/left.png') top left no-repeat,
							url('images/index-fdd95f/right.png') top right  no-repeat,
							url('images/index-fdd95f/line.png')  top left 20px no-repeat;
	display:block;
	height:82px;
	width:260px;
	font-size:24px;
	color:#fdd95f;
	font-weight:2px;
	padding-left:20px;
	margin-left:-20px;
	line-height:70px;
	text-align:center;
}
.t-btn-index-fdd95f:hover{
	color:#fdd95f;
	background:url('images/index-fdd95f/left.png') top left no-repeat,
							url('images/index-fdd95f/right.png') top right  no-repeat,
							url('images/index-fdd95f/line.png')  top left 20px no-repeat,
							url('images/index-fdd95f/shadow.png')  bottom  left 25px no-repeat;
}
/*----分割-----*/
.t-btn-index-ff7352{
	color:#ff7352;
	background:url('images/index-ff7352/left.png') top left no-repeat,
							url('images/index-ff7352/right.png') top right  no-repeat,
							url('images/index-ff7352/line.png')  top left 20px no-repeat;
	display:block;
	height:82px;
	width:260px;
	font-size:24px;
	color:#ff7352;
	font-weight:2px;
	padding-left:20px;
	margin-left:-20px;
	line-height:70px;
	text-align:center;
}
.t-btn-index-ff7352:hover{
	color:#ff7352;
	background:url('images/index-ff7352/left.png') top left no-repeat,
							url('images/index-ff7352/right.png') top right  no-repeat,
							url('images/index-ff7352/line.png')  top left 20px no-repeat,
							url('images/index-ff7352/shadow.png')  bottom  left 25px no-repeat;
}
/*pc首页按钮样式*/
/*wap首页按钮样式*/

.t-btn-index-wap-1{
	background:url('images/wap_index/b1.png') ;
}
.t-btn-index-wap-2{
	background:url('images/wap_index/b2.png') ;
}
.t-btn-index-wap-3{
	background:url('images/wap_index/b3.png') ;
}
.t-btn-index-wap-4{
	background:url('images/wap_index/b4.png') ;
}
.t-btn-index-wap-5{
	background:url('images/wap_index/b5.png') ;
}
.t-btn-index-wap-6{
	background:url('images/wap_index/b6.png') ;
}
.t-btn-index-wap-7{
	background:url('images/wap_index/b7.png') ;
}
.t-btn-index-wap-8{
	background:url('images/wap_index/b8.png') ;
}
.t-btn-index-wap-9{
	background:url('images/wap_index/b9.png') ;
}
.t-btn-index-wap-10{
	background:url('images/wap_index/b10.png') ;
}
.t-btn-index-wap-11{
	background:url('images/wap_index/b11.png') ;
}
.t-btn-index-wap-12{
	background:url('images/wap_index/b12.png') ;
}
.t-btn-index-wap-13{
	background:url('images/wap_index/b13.png') ;
}
.t-btn-index-wap-14{
	background:url('images/wap_index/b14.png') ;
}
.t-btn-index-wap{
	background-size:100% 100%;
	width:116px;
	height:42px;
	line-height:42px;
	display:block;
	color:white;
	text-align:center;
}
.t-btn-index-wap,.t-btn-index-wap a:hover{
	color:white;
}
/*wap首页按钮样式*/