body{
	background:#f5f5f5;
}
#liuqi {
	padding: 0;
	padding-top:20px;
	width: 1200px;
	height: 1200px;
	margin: 0 auto;
	position:relative;
}
#liuqi .quanbu {
    width: 1200px;
    height: 1060px;
    background: #f7f7f7;
    margin: 0 auto;
}

#liuqi .ceshi {
	width: 393px;
	height: 1060px;
	background: #fff;
	float: left;
	margin-right:7px;
	border:1px dashed #3acbb7;
}

#liuqi .tu1 {
    margin-left: 20px;
    margin-top: 20px;

}

#liuqi .dinzhi {
	width: 393px;
	height: 1060px;
	background: #fff;
	float: left;
	border:1px dashed #3acbb7;
}

#liuqi .jieyue {
	width: 393px;
	height: 1060px;
	background: #fff;
	float: right;
	border:1px dashed #3acbb7;
}

#liuqi .top_text {
	margin-left:20px;
	margin-top:16px;
	margin-bottom: 0px;
	color: #3acbb7; 
	font-size:19px; 
}

#liuqi .text {
	width:350px;
	height: 580px;
	background: #fff;
	margin: 0 auto; 
	margin-top: 40px;

}

#liuqi .bb {
	width:370px;
	height: 20px;
	margin-top: 16px; 
	margin-bottom: 16px;
}

#liuqi .and {
	float: left;
	margin-top:9px;
	margin-right:8px; 

}
   
#liuqi .end {
	float: left;
	font-size:18px;
	width: 340px;
	margin: 0;
	color: #666666;
}

#liuqi .qq {
	width: 350px;
	height: 20px;
	margin-left: 18px;
}

#liuqi .jj {
	width:350px;
	height: 120px;
	margin-top: 22px; 
}

#liuqi .hh {
	width:350px;
	height: 120px;
	margin-top: 38px; 
}

#liuqi .ee {
	font-size:18px;
	margin-left: 16px;
	color: #666666;
}

#liuqi .dianji {
	margin-left:250px;
    margin-top: 12px;
}

#liuqi .tutu {
	margin-left: 20px; 
	margin-top: 18px;
}

#liuqi .kk {
	width:370px;
	height: 20px;
	margin-top: 16px; 
	margin-bottom: 16px;
	margin-left: 20px;
}
#liuqi p{
	margin:16px 0px 16px 0px;
	font-size: 16px;
}
#liuqi .r p {
	margin-left:38px;
	color: #999999;
}


#liuqi .rr {
	margin-left:38px; 
} 

#liuqi .l {
	width:370px;
	height: 20px;
	margin-top: 16px; 
	margin-bottom: 16px;
	margin-left: 38px;
	color: #666;
	font-size:18px; 
}

#liuqi .oo {
	margin-top: 138px;
}

#liuqi .we {
	margin-left:20px; 
	color: #999999;
}
#liuqi .needKnow{
	position:absolute;
	top:765px;
}
#liuqi .needKnow img{
	width:391px;
}
#liuqi .dianji{
	position:absolute;
	top:1018px;
}
#liuqi .qa {
	width:370px;
	height: 20px;
	margin-top: 16px; 
	margin-bottom: 16px;
	margin-left: 18px; 
	font-size:18px; 
	color: #666;
}

#liuqi .mm {
	margin-top: 180px;
}
#liuqi  .text-font20 ,#liuqi  .text-font20  p{
	font-size:20px; 
}
#liuqi .pd-lr-20{
	padding: 0px 20px;
}
#liuqi .bg-yellow{
	background:#ffec4d;
}
#liuqi .red-num{
	color:red;
}
#liuqi .red-num-tl{
	color:red;
	text-decoration:line-through;
}


#progress{
	min-height:600px;
}
#progress .top{
	color:#3acbb7;
	text-align:center;
	background:#fff;
	padding:10px;
	width:800px;
	margin:0 auto;
}
#progress .top>div{
	display:inline-block;
}
#progress .top>div>div{
	padding-top:10px;
}


#progress  .services{
	background:#fff;
	width:500px;
	margin:0 auto;
	margin-top:20px;
	padding:60px;
	padding-bottom:30px;
}
#progress  .services .title{
	color:#3acbb7;
	font-size:18px;
}
#progress  .services .option{
	padding:20px;
	padding-left:90px;
	color:#a7a7a7;
}
#progress  .services .footer{
	padding-top:20px;
	text-align:center;
}
#progress  .services .cancel{
	color:#c5c5c5;
	font-size:18px;
	padding:0px 10px;
}
#progress  .services .next{
	color:#3acbb7;
	font-size:18px;
	padding:0px 10px;
}

#needKnow{
	width:800px;
	margin:0 auto;
	background:#fff;
	padding:60px;
	margin-top:20px;
	margin-bottom:150px;
}
#needKnow .content{
	height:480px;
	overflow-y:scroll;
}
#needKnow .title{
	color:#3acbb7;
	font-size:18px;
}
#progress  .footer{
	padding-top:20px;
	text-align:center;
}
#progress  .cancel{
	color:#c5c5c5;
	font-size:18px;
	padding:0px 10px;
}
#progress  .next{
	color:#3acbb7;
	font-size:18px;
	padding:0px 10px;
}


#children .item{
	text-align:center;
	margin:50px;
}
#children .item .child{
	width:30%;
	display:inline-block;
}
#children .avatar{
	width:100px;
	border-radius:50px;
}
#children .point{
	font-weight: bold;
	font-size:14px;
	color:black;
}
#children  .point  img{
	width:20px;
	
}
#children .child  .nickname{
	width:100%;
	display:block;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
	font-size:14px;
	color:black;
}
#children .item .active .nickname,#children .child:hover .nickname{
	color:#3acbb7;
}
#children{
	width:800px;
	margin:0 auto;
	background:#fff;
	padding:60px;
	margin-top:20px;
	margin-bottom:150px;
}
#children .title{
	color:#3acbb7;
	font-size:18px;
}
#children  .footer{
	padding-top:20px;
	text-align:center;
}
#children  .cancel{
	color:#c5c5c5;
	font-size:18px;
	padding:0px 10px;
}
#children .child{
	cursor:pointer;
}
#children  .next{
	color:#3acbb7;
	font-size:18px;
	padding:0px 10px;
}
#children .carousel-control{
	background:none;
	color:#3acbb7;..............................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................
}
#children .carousel-control img{
	top:50%;
	transform:translateY(-50%);
}