/**********thtansgiving  pc**********/
.hover-thtansgiving{}
.hover-thtansgiving-01{width: 537px;height: 496px;display: block;overflow: hidden;background: url("../images/thanksgiving/fghj_04.jpg") no-repeat;margin-left: 55px;margin-top: 20px;margin-bottom: 94px;padding-top: 96px;padding-left: 24px;}
.hover-thtansgiving-02{width: 540px;height: 496px;display: block;overflow: hidden;background: url("../images/thanksgiving/fghj_06.jpg") no-repeat;margin-right: 44px;margin-top: 20px;margin-bottom: 94px;padding-top: 96px;padding-left: 24px;}
.hover-thtansgiving h4{color: #333333;font-size: 20px;/* line-height: 6; */margin-bottom: 20px;}
.hover-thtansgiving p{color: #333333;font-size: 14px;line-height: 30px;}
.hover-thtansgiving span{color: #f35642; font-weight: bold;}
/**********thtansgiving  wap**********/